{% extends 'admin_header.html' %}

{% block content %}
<div class="center"><h2>Добавление новой группы</h2></div>

<form class="edit_genre" action="/add_group" method="post">
    <label for="title">Название группы:</label>
    <input type="text" id="title" name="title" required>
    
    <label for="book">Выберите книгу:</label>
    <select id="book" name="book_id">
        {% for book in books %}
        <option value="{{ book.id }}">{{ book.title }}</option>
        {% endfor %}
    </select>
    
    <button type="submit">Добавить группу</button>
</form>
{% endblock %}