{% extends 'admin_header.html' %}

{% block content %}
<div class="center">
	<h2>Редактирование жанра</h2>
	<form class="edit_genre" action="{{ url_for('edit_genre', genre_id=genre.id) }}" method="post">
    <div>
        <label for="title" class="form-label">Название жанра</label>
        <input type="text" class="form-control" id="title" name="title" value="{{ genre.title }}" required>
    </div>
    <button type="submit">Сохранить изменения</button>
</form>
</div>

{% endblock %}