{% extends 'header.html' %}

{% block content %}
<h1 class="center">Регистрация администратора</h1>
<div class="center">
	<form action="{{ url_for('create_admin') }}", method="POST">
		<label>Имя: </label>
		<input type="text" name="username" value="" required />
		<label>Почта: </label>
		<input type="text" name="email" value="" required />
		<label>Пароль: </label>
		<input type="text" name="password" value="" required />
		<input type="submit" value="Регистрация"/>
	</form>
</div>

{% endblock %}