{% extends 'header.html' %}

{% block content %}
{% with messages = get_flashed_messages(with_categories=true) %}
   {% if messages %}
      {% for category, message in messages %}
         <div class="flash-messages {{ category }}">
             {{ message }}
         </div>
      {% endfor %}
   {% endif %}
{% endwith %}
<div class="books-layout">
    <div class="content-wrapper">
        <div class="genre-column">
			<h3>Жанры:</h3>
			<ul>
				{% for genre in genres %}
				<li><a href="{{ url_for('show_books', id_genre=genre.id) }}">{{ genre.title }}</a></li>
				{% endfor %}
			</ul>
			<h3>Подборки:</h3>
			<ul>
				<li><a href="{{ url_for('show_groups') }}">Подборки</a></li>
			</ul>
		</div>
		
        <div class="book-items">
            {% for book in books %}
            <div class="book-item">
                <img src="{{ book.photo }}" alt="{{ book.title }}">
                <h3>{{ book.title }}</h3>
                <p>Автор: {{ book.author.name }}</p>
                <p>Жанр: {{ book.genre.title }}</p>
                <p>Дата публикации: {{ book.date }}</p>
                <p>Цена: {{ book.price }}₽</p>
                {% if rating_dict[book.id] is defined %}
                <!-- Округляем рейтинг до двух десятичных знаков -->
                <p>Рейтинг: {{ "%.2f"|format(rating_dict[book.id]) }}</p>
                {% else %}
                <p>Рейтинг: Нет данных</p>
                {% endif %}
                <a href="/detail/{{ book.id }}" class="detail-button">Подробнее</a>
                <!-- Добавляем кнопку для добавления в корзину -->
                <form action="{{ url_for('add_to_cart', book_id=book.id) }}" method="post">
                    <input type="hidden" name="book_id" value="{{ book.id }}">
                    <button type="submit">Добавить в корзину</button>
                </form>
            </div>
            {% endfor %}
        </div>
    </div>
</div>

{% endblock %}
