{% extends 'header.html' %}

{% block content %}
<div class="profile-container">
    <h1 class="profile-title">Профиль пользователя</h1>
    {% with messages = get_flashed_messages(with_categories=true) %}
        {% if messages %}
            <section class="messages">
                {% for category, message in messages %}
                    <div class="message {{ category }}">
                        {{ message }}
                    </div>
                {% endfor %}
            </section>
        {% endif %}
    {% endwith %}

    {% if user %}
        <section class="user-details">
            <p><strong>Имя пользователя:</strong> {{ user.username }}</p>
            <p><strong>Email:</strong> {{ user.email }}</p>
            <p><strong>Роль:</strong> {{ role_names[user.id_role] }}</p>
            <a href="{{ url_for('update_username') }}" class="edit-btn">Редактировать имя пользователя</a>
        </section>
    {% else %}
        <p>Пользователь не авторизован.</p>
    {% endif %}
    <a href="{{ url_for('logout') }}" class="logout-btn">Выйти из системы</a>
</div>
{% endblock %}
